{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if clicked_post.published_date %}
            <div class="date">
                {{ clicked_post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=clicked_post.pk %}"><i class="far fa-edit fa-2x" style="color: #339af0"></i></a>
        {% endif %}


        <h1>{{ clicked_post.title }}</h1>
        <p>{{ clicked_post.text|linebreaksbr }}</p>
</div>
{% endblock %}