.page-header {
    background-color: #ff9400;
    margin-top:0;
    padding: 20px 20px 20px 40px;
}

.page-header h1 a{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


.content{
    margin-left:40px;
}

h1, h2, h3, h4 {
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans',  'serif';
    font-size: 38px;
}

.date{
    color: #828282;
    padding: 20px 0px 0px 0px;
}

.post{
    margin-bottom:50px;
}

.post h1 a{
    color: #000000;
}

.post-form-blog textarea{
    width:100%;
}

.post-form-blog .btn-primary{
    float: right;
}

.page-header .top-menu{
    color: ffffff;
    float: right;
    margin-right: 20px;
    font-size: 20pt;
}